.filterNavContainer {
  display: flex;
  position: fixed;
  left: 10rem;
  right: 10rem;
  background: #0033aa50;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 0;
}
